apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- specify-deployment.yaml
- specify-worker-deployment.yaml
- specify6-deployment.yaml
- asset-server-deployment.yaml
- report-runner-deployment.yaml
- redis-deployment.yaml
- services.yaml
- pvc.yaml
- ingress.yaml
