apiVersion: apps/v1
kind: Deployment
metadata:
  name: specify
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: specify
        env:
        - name: SP7_DEBUG
          value: "true"
        - name: LOG_LEVEL
          value: "DEBUG"
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "1Gi"
            cpu: "500m"
